.widgetBase {
  margin-top 28px
}

@media (max-width 1300px) {
  .widgetBase {
    margin-top 0px
  }
}

.widget {
  margin 32px 0px 0px 0px

  width: calc(50% - 20px);
  min-width calc(50% - 20px);

  @media (max-width 970px) {
    width: 100%;
    min-width 100%;
  }

  .container {
    background white
    margin-top 12px
    padding 0px 30px
    border-radius 5px
    border 1px solid #dedede

    .row {
      flex-direction row
      justify-content space-between
      align-items center
      padding 20px 0px

      &.first {
        padding-bottom 0px
      }

      .priceColumn {
        flex-direction column
        align-items flex-start
        justify-content center
        margin-right 24px

        // font-weight bold

        .smallText {
          font-size 14px
          color rgb(173, 173, 173)
          line-height 14px
        }
      }

      &.underline {
        border-bottom  1px solid #dedede
      }

      button {
        width 100px
      }
    }
  }
}
