.cardContainer {
  width 250px
  overflow hidden
  border-radius 5px

  img {
    width auto
    height 200px
  }

  margin-bottom: 50px;

  // box-shadow: 6px 6px 18px 7px rgba(147,151,172,.19);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);

  &:hover {
    transform: scale(1.05)
    transition all 0.2s
    box-shadow: 6px 6px 18px 7px rgba(147,151,172,.19);
  }

  .buyButton {
    // background: #03ade8;
    background: #1c2a5e;
    padding 15px;
    text-align center
    cursor pointer

    &:hover {
      background: #03ade8;
    }
  }

  .infoBlock {
    // background grey
    // background: #b4fddf;
    background: #f6f7fb;
    // background: #e3e7ea;
  }
}
